# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

dex2jar2/.git
# dex2jar2/.github
dex2jar.BAK1/.git
# dex2jar.BAK1/.github

apk/Reasily.apk
apk/MidiSheetMusic.apk